.c-border{
    border-top: 0.667px solid rgba(255, 255, 255, 0.20);
}
.c-border-2{
    border-top: 0.667px solid rgba(255, 255, 255, 0.20);
   
}
.game{
    color: #FFF;
    font-family: Chango;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    text-transform: uppercase;
    justify-content: left;
}
.construct{
    color: #FFF;
    font-family: Chango;
    font-size: 14.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 123%;
    text-transform: uppercase;
}
.button-grad {
    background: linear-gradient(
      #6a35ee 100%,
      #9930ef 100%,
      #5737ee 100%,
      #795ceb 100%
    );
  }